<!DOCTYPE html>
<html lang="en">
<head>
    <title>welcome page </title>
</head>
<body>
    <%-include('common/header') %>
    <br>
    <h1>welcome profile page </h1>
    <br>
    <h2>name:  <%= user.name %></h2>
    <br>
    <h2>email:  <%= user.email %></h2>
    <br>
    <h2>city:  <%= user.city %></h2>
   
</body>
</html>