<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<!-- <div ng-app="">
  <p>Name: <input type="text" ng-model="name"></p>
  <p  ng-bind="name">name you have entered is :  {{name}}</p>
</div> -->
<!-- lets take another example ========================================== -->
<!-- <div ng-app="" ng-init="firstName='John'">

    <p>The name is <span ng-bind="firstName "></span></p>
    
    </div>
     -->
     <!-- ====================================================example 2 -->
     <!-- <div data-ng-app="" data-ng-init="firstName='John'">

        <p>The name is <span data-ng-bind="firstName"></span></p>
        
        </div> -->
        <!-- ====================================================example 3  -->
        <!-- <div ng-app="">
            <p>My first expression: {{ 5 + 5 }}</p>
          </div> -->
          <!-- ================================================================example 4 -->
          <div ng-app="">
            <p>fName: <input type="text" ng-model="fname" placeholder="enter first name"></p>
            <p>lName: <input type="text" ng-model="lname" placeholder="enter last name"></p>
            <p>fname is :  {{fname}}</p>
            <p>fname is :  {{lname}}</p>
          </div>
</body>
</html>